<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "About" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="small-box bg-primary">
          <h1>Streamline Your Workflow with Puisfighters</h1>
        </div>
          <p>The Puisfighters Employee Dashboard is a secure and efficient platform designed for managing employee tasks. 
            It offers user authentication, profile management, 
            and role-based access control to ensure that users have access to functionalities appropriate to their roles.
          </p>
           <h3>About the Application</h3>
           <p>The Puisfighters Employee Dashboard is a comprehensive solution for companies looking to streamline their 
            employee management processes. The application is built using Angular for the frontend, with a backend powered 
            by either Node.js or C#. It provides a user-friendly interface where employees can log in, manage their profiles
            </p>
          
        </div>
      </div>
    </div>
  </section>
</div>
