<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-info alert-dismissible">
            <h6><i class="icon fa fa-info"></i> Welcome to Streamline Your Workflow with Puisfighters</h6>
          </div>
        </div>
      </div>
     
     
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Introduction</h3>
              
            </div>
           
            <div class="card-body table-responsive p-0">
              
                <p>The Puisfighters Dashboard is an innovative, secure, and user-friendly employee management system designed to streamline the daily
                  operations of organizations. It focuses on enhancing productivity and providing clear insights into employee activities through intuitive
                 features like  role-based access control, and real-time analytics.</p>
             
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Purpose</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <p>The primary goal of Puisfighters Dashboard is to empower businesses to effectively manage their workforce by providing a centralized 
                  platform that handles various aspects of employee management. Whether it's tracking hours, managing user roles, or viewing schedules,
                   Puisfighters Dashboard is designed to make these processes efficient and easy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>